<div class="container">
  <h1><%=@user.name%> 和他的好友們</h1>
  <ul>
    <% @all_friends.each do |friend| %>
    <li>
      <%= link_to friend.name ,user_path(friend) %>
    </li>
    <%end%>
  </ul>



</div>