<div class="container">
  <h1>美食達人</h1> 
  <hr>
  <div class="row">
    <%@users.each do |user| %>
      <div class="col-sm-3">
        <div class="user-list-item">
          <div class="imgbox">
            <div class="imgbox-inner">
              <div class="image" style="background-image:url('<%=user.avatar%>')"></div>
            </div>
          </div>
          <div class="user-list-info">
            <p><%=link_to user.name, user_path(user)%></p>
            <%= render partial: "shared/follow",locals:{user: user} %>
          </div>
        </div>
      </div>
    <%end%>



  </div> 

</div>