<div class="container col-md-offset-2 col-md-8">
  <div class="u-margin-top-40px">
    <h1><%= @restaurant.name %>'s Dashboard</h1>
    <hr>
    <ul>
      <li>有 <%= @restaurant.comments.count %> 筆評論</li>
      <li>這家餐廳的平均價位為 $XXX</li>
      <li>有 XX 人收藏這家餐廳</li>
    </ul>
  </div>
</div>