
.restaurant-item{
  padding: 10px;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
}
.imgbox{
  width: 100%;
  overflow: hidden;
}
.imgbox-inner{
  width: 100%;
  padding-top: 75%;
  position: relative;

}
.image{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.restaurant-description {
  margin-top: 5px;
  display: block;
  max-height: 40px;
  overflow: hidden;

}
.nav-pills-center{
  text-align: center;
}
.nav-pills-center > li{
  float: none;
  display: inline-block;
}
.category-nav{
  margin: 10px 0;
}
/* user show*/
.user-content{
  font-size: 16px;
  margin-bottom: 20px;
}
.user-avatar .imgbox .imgbox-inner{
  width: 100%;
  padding-top: 100%;
  position: relative;

}
.user-avatar{
  border: 1px solid #a1a1a1;
  text-overflow: ellipsis;
}
.user-email{
  font-weight: bold;
  font-size: 16px;

}
.user-follow-list{
  height: 50px;
}
.user-follow-list img{
  height: 100%;
  display: inline-block;
}
.user-follow-list-name{
  display: inline-block;
  padding-left: 10px;
  font-weight: bold;
  color: #2864A8;
  height: 100%;
} 

/* user#index */
.user-list-item{
  padding: 0 30px 30px 30px;
}

.user-list-item>.imgbox>.imgbox-inner{
  width: 100%;
  padding-top: 100%;
  position: relative
}
.user-list-item .image{
  border-radius: 10px;
}
.user-list-info{
  text-align: center;
  padding-top: 20px;
}


.my-restaurant{
  box-sizing: border-box;
  max-width:200px;
  height: 140px;
/*   border: solid 1px #a1a1a1; */
  float: left;
  padding: 10px;
}
img.my-restaurant-img{
  height: 75px;
}
p.my-restaurant-name{
  color: #2864A8;
  font-weight: bold;
  padding-top: 15px;

}

/* ranking */
.ranking-item{
  margin: 10px;
}
.ranking-img{
  min-height: 200px;
}




/* utility */
.u-padding-top-40px{
  padding-top: 40px;
}
.u-padding-top-10px{
  padding-top: 10px;
}
.u-margin-top-40px{
  margin-top: 40px;
}
.u-none-decoration{
  text-decoration: none;
}
.u-none-decoration:hover{
  text-decoration: none;
}